/* CSS declarations go here */
<<<<<<< HEAD

	

#viewer_iframe{
	border:1px solid grey;
	resize:both;
	width:100%;
}

.editor{
	outline: 1px solid black;
}
=======
.top-margin{
	margin-top:50px;
}
>>>>>>> 6c12f9441b016354c71cd1b368f2cddf86c283de
