<template name="singleGroup">
	{{> Navbar }}
	<!--Start Container-->
	<div class="container-fluid "><br>
		<div class="row">
		
		<ul class="nav navbar-nav navbar-left push-top">
			{{#if owner}}
				<li><input type="submit" class="btn btn-primary pull-right" id="edit" value=" Edit "></li>
				<li><input type="submit" class="btn btn-danger pull-right" id="delete" value="Delete"></li>	
				<li>{{#if members}}
	 				<div class="dropdown">
	  					<button class="btn btn-default pull-right dropdown-toggle" type="button" data-toggle="dropdown">
		  					<span class="glyphicon glyphicon-user"></span>&nbsp;
		  						Members
		  					<span class="caret"></span>
	  					</button>
	  					<ul class="dropdown-menu dropdown-menu-right">
	  						{{#each members}}
						    	<li>
						    		{{name}} <button class="delete">&times;</button>&nbsp;&nbsp;&nbsp;&nbsp;
						    	</li>
							{{/each}}
	  					</ul>
					</div>
				{{else}}
					<div class="dropdown">
				  		<button class="btn btn-primary pull-right dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp; Members
				  			<span class="caret"></span></button>
				  			<ul class="dropdown-menu dropdown-menu-right">
							    <li><a href="#">No members</a></li>
						</ul>
					</div>
				{{/if}}</li>
				
				<li>{{#if notificationCount}}
	 				<div class="dropdown">
	  					<button class="btn btn-danger pull-right dropdown-toggle" type="button" data-toggle="dropdown">
		  					<span class="glyphicon glyphicon-bell"></span>&nbsp;
		  						Notifications
		  					<span class="caret"></span>
	  					</button>
	  					<ul class="dropdown-menu dropdown-menu-right">
	  						{{#each notification}}
					    	<li>
					    		{{title}}&nbsp;&nbsp;&nbsp;&nbsp;
					    		<input type="submit" class="btn btn-primary" id="accept" value=" Accept request">
								<input type="submit" class="btn btn-danger" id="decline" value="Decline request">
					    	</li>
							{{/each}}
	  					</ul>
					</div>
				{{else}}
					<div class="dropdown">
				  		<button class="btn btn-primary pull-right dropdown-toggle" type="button" data-toggle="dropdown">
				  			<span class="glyphicon glyphicon-bell"></span>&nbsp;
				  			Notifications
				  			<span class="caret"></span></button>
				  			<ul class="dropdown-menu dropdown-menu-right">
							    <li><a href="#">No notifications</a></li>
				  			</ul>
					</div>
				{{/if}}	</li>
			{{else}}
				{{#if member}}
					<li><input type="submit" class="btn btn-danger pull-right" id="leave" value="Leave" style="margin-right: 20px;"></li>
				{{else}}
					{{#if private}}
						<li><input type="submit" class="btn btn-success pull-right" id="request" value="Send Request" style="margin-right:20px;"></li>
					{{else}}
						<li><input type="submit" class="btn btn-success pull-right" id="join" value="Join" style="margin-right:20px;"></li>
					{{/if}}
				{{/if}}
			{{/if}}
			</ul>
			
		</div>

		<div class="row">
			<div class="container-fluid">
				<hr class="divider">
				<h2 id="gname" style="margin-left:20px;" title="Group Name"><b><i>{{group.gname}}</i></b></h2> 
				<span style="float: right; font-size: 14px;" id="privacy"><i>{{group.privacy}}-group...</i></span>
				<hr class="divider">
				<h3 id="gdesc" style="margin-left: 20px; font-size: 16px;" title="Group Descripton">{{group.gdesc}}</h3>
				<hr class="divider">
			</div>		
		</div>

		{{#if owner}}
			{{> Media}}
			{{> groupDiscuss}}
		{{else}}
			{{#if member}}
				{{> Media}}
				{{> groupDiscuss}}
			{{/if}}
		{{/if}}
	</div>
</template>

<template name="yourGroup">
	<!-- Start Container -->
	<div class="container">
		<h2>Your Groups</h2>
		<div class="row">
			{{#if Template.subscriptionsReady}}
				{{#each groups}}
					<div class="col-sm-6 col-xs-3 col-md-3 col-lg-2">
						<div class="thumbnail">
							<div class="caption">
								<marquee behavior="scroll" direction="left"><h3 id="gname">{{gname}}</h3></marquee>
		                	</div>
								<span style="float: right;" id="privacy"><i>{{privacy}}-group...</i></span>
		  						<hr class="divider">
		  						<a class="btn btn-default" href="/group/{{_id}}"><span class="glyphicon glyphicon-file"></span> View Group!</a>
		  				</div>
	  				</div>
	            {{/each}}
	        {{else}}
	        	<p>Loading... {{> spinner}}</p>
	        {{/if}}
      	</div>
      	<hr class="divider">
   	</div>
</template>


<template name="allGroup">
	<!-- Start Container -->
	<div class="container"> 
		<h2>All Groups</h2>
		<div class="row">
			{{#if Template.subscriptionsReady}}
					{{#each groups}}
						<div class="col-sm-6 col-xs-3 col-md-3 col-lg-2">
							<div class="thumbnail">
								<div class="caption">
									<marquee behavior="scroll" direction="left"><h3 id="gname">{{gname}}</h3></marquee> 
			                	</div>
									<span style="float: right;" id="privacy"><i>{{privacy}}-group...</i></span>
			  						<hr class="divider">
			  						<a class="btn btn-default" href="/group/{{_id}}"><span class="glyphicon glyphicon-file"></span> View Group!</a>
			  				</div>
		  				</div>
		            {{/each}}
	        	{{else}}
	        		<p>Loading</p>
	        {{/if}}
      	</div>
    	<hr class="divider">
   	</div>
	<!-- End Container -->
</template>



