.note-editable {
	height: 200px;
}

p#showMsg{
	height: 40px;
	max-height:40px;
	overflow: hidden;
}

h2#showTitle{
	height:33px;
	max-height:33px;
	overflow: hidden;
}
span#showMsgs{
	height: 60px;
	max-height:60px;
	overflow: hidden;
}

h3#showTitles{
	height:33px;
	max-height:33px;
	overflow: hidden;
<<<<<<< HEAD
}
=======
}

.morectnt span { display: none; }

>>>>>>> 6c12f9441b016354c71cd1b368f2cddf86c283de
