<template name="Search">
  {{> Navbar}}
  <br>
  <div class="container-fluid">
      <div class="dropdown">
        <div class="well well-lg" style="width:100%;display: inline-block;">
          <ul>
            <h3>Note:</h3>
            {{#each posts}}
              <li><h4> <a href="/notes/{{_id}}/">{{Title}}</a></h4></li>
            {{else}}
              <li><h4>No results found.. try something different !!</h4></li>
            {{/each}}
            <h3>Group:</h3>
            {{#each groups}}
              <li><h4>Group: <a href="/group/{{_id}}/">{{gname}}</a></h4></li>
            {{else}}
              <li><h4>No results found.. try something different !!</h4></li>  
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
</template>