<template name="Search">
 <!--{{> EasySearch.Input indexes=searchIndexes }}

 {{#EasySearch.IfNoResults indexes=searchIndexes logic="AND" }}
    <div>No search results found</div>
  {{/EasySearch.IfNoResults}}

  {{#EasySearch.IfSearching indexes=searchIndexes logic="OR" }}
    <div>Indexes are searching...</div>
  {{/EasySearch.IfSearching}}

 {{#EasySearch.Each index=groupIndex }}
     <h3>Name of the group</h3>{{gname}}
  {{/EasySearch.Each}}

  {{#EasySearch.Each index=postIndex }}
    <h3>Name of the post</h3> {{Title}}
  {{/EasySearch.Each}}
 -->
</template>
